@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import "mixin";

body {
    background: #1C1B1F;
    display: flex

}

aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    padding: 2%;
    margin: 1%;
    width: 470px;
}

main{
    display: flex;
    flex-direction: column;
    background-color: #324E37;
    border-radius: 180px 0px 0px 180px;
    width: 900px;
    align-items: center;
    padding: 5%;
}

input {
    margin-top: 5%;
    width: 300px;
    box-shadow:0px 0px 80px rgba(0, 0, 0, 0.11);
    padding: 40px;
    text-align: left;
    background-color: #588157;
    border-radius: 100px;
    border-style: hidden;
    font-family: 'Comfortaa', cursive;
    color: white;
    font-size: 30px
}

.t1{
    @include textos(40px, center);
}

.t2 {
    @include textos(25px, center);
}

.nueva-tarjeta {
    display: flex;
    flex-direction: row;
    justify-content: space-between; //separa en una punta y en la otra el contenido
    @include tarjeta (80px, 500px, #588157)
}

.btn {
    @include btn (#8c8fb000)
}

//Icono de buscar
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 110,
        'opsz' 408
}
