@import "mixin";

body {
    background-color: #F6F6F6;
}

main {
    background-color: #efefef;
}

.t1 {
    @include textos(40px, center);
}

.t2 {
    @include textos(35px, center);
}

.t3 {
    @include textos(22px, center);
    margin-bottom: 10px
}

.t4 {
    @include textos(18px, justify);
}

.fotoPerfil {
    position: relative;
    left: 45%;
    margin: 2%;
    align-self: center;
    background-color: #000000;
    width: 150px;
    height: 150px;
    border-radius: 100%;
}


.centrado {
    position: relative;
    left: 40%;
    width: 18%;
    display: flex;
    flex-direction: column;
}

input {
    margin-top: 5%;
    width: 300px;
    border-radius: 15px;
    border-style: solid;
    border-width: 0px;
    box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.2);
    padding: 20px;
    font-size: 20px;
    text-align: left;
    background-color: #ffffff;
    border-style: hidden;
}

.cont-Tareas {
    margin: 5%;
}

.contenedor-tarjeta {
    margin-bottom: 1%;
    @include tarjeta (auto, auto, white)
}

.btn-eliminar {
    fill: red;
    /* Cambia el color de relleno a rojo */
    stroke: rgb(255, 0, 0);
    /* Cambia el color del borde a negro */
    width: 50px;
    /* Ajusta el ancho del SVG a 24 píxeles */
    height: 50px;
    /* Ajusta la altura del SVG a 24 píxeles */
}


.btn-buscar {
    @include btn (#2E3DC7)
}

.btn-agregar {
    @include btn (#2E3DC7)
}

//Icono de buscar
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 110,
        'opsz' 408
}


.estado-tarea {
    font-family: Arial;
    background-color: #2e2488;
    border-radius: 20px 5px 5px 20px;
    border: 1px solid #2e2488;
    display: inline-block;
    color: #ffffff;
    font-size: 16px;
    padding: 10px;
    text-decoration: none;
    margin-left: 2%;
}

.test {
    background-color: #000000;
}