@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@import "mixin";

body {
    background: rgb(58,90,64);
    background: linear-gradient(90deg, rgba(58,90,64,1) 0%, rgba(31,49,34,1) 100%);
    display: flex

}

aside{
    background-color: #58815768;
    border-radius: 30px;
    padding: 2%;
    margin: 1%;
    width: 470px;
}


input {
    margin-top: 5%;
    width: 300px;
    box-shadow:0px 0px 80px rgba(0, 0, 0, 0.11);
    padding: 40px;
    font-size: 20px;
    text-align: left;
    background-color: #588157;
    border-radius: 100px;
    border-style: hidden;
    font-family: 'Caprasimo', cursive;
}

.t1 {
    @include textos(40px, center);
}

.t2 {
    @include textos(25px, center);
}



.contenedor-tarjeta {
    margin-bottom: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between; //separa en una punta y en la otra el contenido
    @include tarjeta (auto, auto, #588157)


}


.btn-agregar {
    @include btn (#8c8fb000)
}

//Icono de buscar
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 110,
        'opsz' 408
}
