@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');

@mixin tarjeta ($alto, $ancho, $color){
    display: flex;
    flex-direction: row;
    font-family: 'Caprasimo';
    font-size: xx-large;
    align-items: center;
    color: white;

    padding: 30px;    
    border-radius: 100px;
    height: $alto;
    width: $ancho;
    background-color: $color;
    height: 80px;
    width: 500px;
    margin: 5%;
}

@mixin textos ($size, $centrado){
    font-family: 'Caprasimo', cursive;
    color: rgb(255, 255, 255);
    text-align: $centrado;
    font-size: $size;
}

@mixin btn ($color){
    font-family: 'Caprasimo', cursive;
    font-size: 30px;
    background-color: $color;
    padding: 1%;
    color:white;
    border-radius: 10%;
    border-style: hidden;
    
}