@media(max-width: 1000px){

    body{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    main{

        border-radius: 80px 80px 80px 80px;
        width: 85%;
        align-items: center;
        padding: 5%;
    }

    .nueva-tarjeta {
        @include tarjeta (1%, 90%, #588157)
    }
    
}